/**** Mobile layout ****/
@media (max-width: 900px) {
  .appbar-nav {
    display: none
  }
}

.fa.fa-search:hover, .appbar-nav:hover {
  color: rgb(0, 188, 212) !important
}

/* Main container for holding grids */
main {
  padding: 3em 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}


/* Section grid */
section {
  max-width: 1044px;
  margin: 80px auto;
}

footer {
  background-color: #eceff1;
}

footer > section > a {
  padding: 0 15px
}

.fa.fa-shopping-cart {
  font-size: 20px !important;
}























body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: rgb(0, 188, 212);
}

.section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

.section-forms {
  padding: 80px 0;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

a img{
  border: 0px;
}

::-moz-selection {
  background-color: rgb(0, 188, 212);
  color: #fff;
}

::selection {
  background-color: rgb(0, 188, 212);
  color: #fff;
}



/* Drawer */
.android-drawer {
  border-right: none;
}
.android-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}
.android-drawer .mdl-navigation__link.mdl-navigation__link {
  font-size: 14px;
  color: #757575;
}
.android-drawer span.mdl-navigation__link.mdl-navigation__link {
  color: rgb(0, 188, 212);
}
.android-drawer .mdl-layout-title {
  position: relative;
  background: rgb(0, 188, 212);
  height: 160px;
}
.android-drawer .android-logo-image {
  position: absolute;
  bottom: 16px;
}







/* AppBar */

.android-link-menu:hover {
  cursor: pointer;
}
.mdl-layout__container {
    position: relative;
}
.android-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}
.android-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}
.mdl-textfield--expandable {
  width: auto;
}
.android-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #64ffda !important;
  color: black !important;
}
.android-mobile-title {
  display: none !important;
}
.android-logo-image {
  height: 28px;
  width: 140px;
}
.android-header {
  overflow: visible;
  background-color: white;
}
.android-header .material-icons {
  color: #767777 !important;
}
.android-header .mdl-layout__drawer-button {
  background: transparent;
  color: #767777;
}
.android-header .mdl-navigation__link {
  color: #757575;
  font-weight: 700;
  font-size: 14px;
}
.android-navigation-container {
  /* Simple hack to make the overflow happen to the left instead... */
  direction: rtl;
  order: 1;
  width: 500px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.android-navigation {
  /* ... and now make sure the content is actually LTR */
  direction: ltr;
  justify-content: flex-end;
  width: 800px;
}
.android-search-box.is-focused + .android-navigation-container {
  opacity: 0;
  width: 100px;
}
.android-navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}
.android-navigation .mdl-navigation__link:hover {
  color: rgb(0, 188, 212);
}
.android-search-box {
  order: 2;
  margin-left: 8px;
  margin-right: 8px;
}
.android-more-button {
  order: 3;
  margin-left: 8px;
  margin-right: 8px;
}
.android-cart {
  margin-left: 8px;
  order: 4;
}
.active-link {
  border-bottom: 4px solid rgb(0, 188, 212);
}
















/**** Mobile layout ****/
@media (max-width: 900px) {
  .appbar-nav {
    display: none
  }
  .android-navigation-container {
    display: none;
  }
  .android-title {
    display: none !important;
  }
  .android-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .android.android-search-box.is-focused ~ .android-mobile-title,
  .android-search-box.is-focused + .android-navigation-container + .android-mobile-title {
    opacity: 0;
  }
  .android-more-button {
    display: none;
  }
  .android-search-box.is-focused {
    width: calc(100% - 48px);
  }
  .android-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }
  .android-be-together-section {
    height: 350px;
  }
  .android-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }
  .android-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }
  .android-create-character {
    padding-top: 200px;
    font-size: 16px;
  }
  .android-create-character img {
    height: 12px;
  }
  .android-fab {
    display: none;
  }
  .android-wear-band-text {
    margin-left: 0;
    padding: 16px;
  }
  .android-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}
