@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/**** Mobile layout ****/
@media (max-width: 900px) {
  .appbar-nav {
    display: none !important;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}


/* Main container for holding grids */


/* Section grid */
main {
  margin: 80px 0 0 0;
}
section {
  display: flex;
  flex-flow: row wrap;
  max-width: 1044px;
  margin: 30px auto 30px auto;
}

section > * {
  flex: 1 1 auto;
  margin: 20px;
}

h1 {
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 0;
}

h3 {
  margin: 20px;
  font-weight: normal
}

footer > a {
  padding: 0 15px
}

.fa.fa-shopping-cart {
  font-size: 20px !important;
}







/* Image Transistions */
.image-appear {
  opacity: 0;
}

.image-appear.image-appear-active {
  opacity: 1;
  transition: opacity 0.9s ease-in;
}















/* Slick Slider */
.slick-dots {
  display: flex !important;
  justify-content: center !important;
}

.slick-slider {
  margin: 80px 0 100px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}








/* Credit Card */
.credit-card-list {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  li {
    float: left;
    color: #aaa;
    font-size: 26px;
  }
  li:not(:last-child) {
    margin-right: 10px;
  }
  .active {
    color: #666;
  }
  .alert {
    margin-top: 20px;
  }
  h5 {
    margin-top: 0px;
  }
  .exp-cvc {
    margin-bottom: 5px;
    span:first-child { margin-right: 15px; }
  }
}














/* Aussiemoving */
ul {
  padding: 0 0 0 16px;
}
