@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/**** Mobile layout ****/
@media (max-width: 890px) {
  .appbar-nav {
    display: none !important;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}





/* Footer */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
footer > div > a {
  padding: 0 16px;
  text-decoration: none;
  color: inherit;
}









main {
  margin-bottom: 96px;
}

/* maring: 32px */
section {
  max-width: 1044px;
  margin: 64px auto;
}

section > h1 {
  margin: 16px 16px 0 16px;
}

h1 {
  font-weight: normal;
  font-size: 2em;
}

h2 {
  font-weight: normal;
}

h3 {
  margin: 32px;
  font-weight: normal
}



.cards {
  flex: 1 1 auto;
  margin: 16px;
}

.fa.fa-shopping-cart {
  font-size: 20px !important;
}









/* Image Transistions */
.image-appear {
  opacity: 0;
}
.image-appear.image-appear-active {
  opacity: 1;
  transition: opacity 0.9s ease-in;
}

.example-enter {
  opacity: 0.01;
}
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}
.example-leave {
  opacity: 1;
}
.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}








/* Credit Card */
.credit-card-list {
  list-style: none;
  padding: 0;
  margin: 16px 0;
}
.credit-card-list li {
  float: left;
  color: #aaa;
  font-size: 26px;
}
.credit-card-list li:not(:last-child) {
  margin-right: 8px;
}
 .active {
  color: #666;
}
.alert {
  margin-top: 24px;
}
.credit-card-list h5 {
  margin-top: 0px;
}
.exp-cvc {
  margin-bottom: 8px;
  span:first-child { margin-right: 16px; }
}
