/**** Mobile layout ****/
@media (max-width: 890px) {
  .appbar-nav {
    display: none !important;
  }
}



/* Body */
body {
  margin: 0;
}

section {
  margin: 0 auto;
  max-width: 1044px
}
.section {
  max-width: 1044px;
  margin: 0 auto;
  box-shadow: none !important;
}

.card {
  flex: 1 1 auto;
  margin: 16px;
  height: 100%;
}






/* Footer */
footer {
  text-align: center;
}
.social-media {
  display: flex;
  justify-content: center;
  padding: 16px;
}
.social-media > a {
  padding: 0 16px;
  text-decoration: none;
  color: inherit;
}







.field-container {
  display: flex;
  flex-flow: row wrap;
  padding: 8px
}

.field {
  flex: 1 1 auto;
  margin: 0 8px;
}







/* Buttons */
.button-container {
  display: flex;
  flex-flow: row wrap;
  margin: 4px;
}
.button {
  flex: 1 1 auto;
  margin: 4px;
}
.delete-button > button {
  background-color: rgba(213, 0, 0, 1) !important;
  color: #ffffff !important;
}
.delete-button * {
  color: #ffffff !important;
  font-size: inherit !important;
}
.delete-button > button:hover  {
  background-color: rgba(213, 0, 0, 0.5) !important;
}






.error {
  font-weight: bold;
  color: rgb(244, 67, 54);
  margin: 8px;
}



section > h1 {
  margin: 16px 16px 0 16px;
}

h1 {
  font-weight: normal;
  font-size: 1.5em;
}

h2 {
  font-weight: normal;
}

h3 {
  margin: 32px;
  font-weight: normal
}







.fa.fa-shopping-cart {
  font-size: 20px !important;
}









/* Image Transistions */
.image-appear {
  opacity: 0;
}
.image-appear.image-appear-active {
  opacity: 1;
  transition: opacity 600s ease-in;
}




/* Credit Card */
.credit-card-list {
  list-style: none;
  padding: 0;
  margin: 16px 0;
}
.credit-card-list li {
  float: left;
  color: #aaa;
  font-size: 26px;
}
.credit-card-list li:not(:last-child) {
  margin-right: 8px;
}
 .active {
  color: #666;
}
.alert {
  margin-top: 24px;
}
.credit-card-list h5 {
  margin-top: 0px;
}
.exp-cvc {
  margin-bottom: 8px;
  span:first-child { margin-right: 16px; }
}










.RichTextEditor__root___2QXK- {
  background: none !important;
}



.slide-enter {
  opacity: 0;
}
.slide-enter.slide-enter-active {
  opacity: 1;
  transition: opacity 600ms ease-in;
}
