.admin-page {
  min-height: 85vh;
  position: relative;
}

/*
.admin-page-edit {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}
*/

.Page, .AdminPage {
  overflow: hidden;
}
