files:
# Runs right before `npm install` in '.../50npm.sh'
"/opt/elasticbeanstalk/hooks/appdeploy/pre/49yarn.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
        #!/bin/bash

        app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";

        # install yarn
        wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo;
        curl --silent --location https://rpm.nodesource.com/setup_6.x | bash -;
        yum -y install yarn;

        # npm install
        cd "${app}";
        yarn;
