.edit-section {
  margin: 8px;
}
.edit-section > button {
  background-color: rgb(255,255,255) !important;
}

.AdminSectionEditButtons {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.AdminSectionEditButtons svg {
  fill: inherit !important;
}

.AdminSection, .AdminSectionSlideShow, .AdminSectionSwipeable {
  position: relative;
}

.AdminSection>section {
  display: flex;
}
.Section, .AdminSection > section {
  display: flex;
}

.AutoPlaySwipeableViews > div > div {
  display: flex;
  flex-flow: column;
  justify-content: center
}
