.article {
  display: flex;
  flex: 1 1 auto;
}
.article-content {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}
.article-media {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 8px;
}

.text-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
