.Article, .AdminArticle {
  display: flex;
  flex: 1 1 auto;
}

.article-flex-content,
.ArticleMediaLeftOfText {
  display: flex;
  justify-content: space-around;
}
.article-media {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 8px;
}

.article-heading,
.article-paragraph {
  margin: 8px 16px;
}

.article-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.ArticleMediaLeftOfParagraph,
.ArticleMediaLeftOfText,
.ArticleMediaRightOfParagraph,
.ArticleMediaRightOfText {
  width: 100%;
}
