.media-iframe-container {
  position: relative;
  padding-bottom: 50%;
}

.media-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media-image-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.media-image {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}
