.card-item {
  flex: 1 1 auto;
  margin: 16px;
  height: 100%;
}
.card-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.card-actions > p {
  margin: 8px;
}
.card-content {
  padding: 8px;
}
