
/**** Mobile layout ****/

@media (max-width: 375px) {
  .largerThanIphone375 {
    display: none !important;
  }
}
@media (max-width: 667px) {
  .largerThanIphone667 {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .largerThanIpad768 {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .largerThanIpad1024 {
    display: none !important;
  }
}
@media (max-width: 1366px) {
  .largerThanIpad1366 {
    display: none !important;
  }
}
@media (max-width: 1920px) {
  .largerThan1920 {
    display: none !important;
  }
}


.fa.fa-shopping-cart {
  font-size: 20px !important;
}

.drawer-brand {
  font-size: 24px;
  height: 64px;
  padding-left: 16px;
  cursor: pointer;
  display: flex
}

.appbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.active-nav {
  border-bottom: 2px solid !important;
}
