.product-page {
  min-height: 85vh;
  max-width: 1044px;
  margin: 0 auto;
  padding: 32px 0
}

.product-section {
  display: flex;
  flex-flow: row wrap;
}


.add-to-cart {
  flex: 1 1 auto;
}

.product-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex: 1 1 300px;
  margin: 8px
}

.product-card-title {
  padding: 16px 0 !important;
}

.product-card-text {
  padding: 16px 0 !important;
}

.product-card-actions {
  padding: 8px 0 !important;
}
