.search-content {
  flex: 3 1 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.search-item-heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 8px;
}

.search-item-text {
  margin: 8px
}
